
:root {
    --bg-color: darkcyan;
    --text-color: aliceblue;
    --button-bg: #333;
    --button-text: white;
  }
  
  /* Dark mode overrides */
  body.dark-mode {
    --bg-color: #111;
    --text-color: #f1f1f1;
    --button-bg: #f1f1f1;
    --button-text: #111;
  }
  
  body {
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    width: 250px;
    background-color: darkcyan;
    color: aliceblue;
    transition: 0.3s;
  }
  
  .beautText {
    font-weight: 100;
    font-size: 25px;
    color: wheat;
    text-align: center;
    margin: 20px 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .controls button {
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 4px 7px;
    cursor: pointer;
  }
  
  /* 
  .container,
  h1,
  h3 {
    text-align: center;
  } */
 .spotify-button {
    background: #1DB954;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.spotify-button:hover {
    background: #1ed760;
} 